.dub
docs.json
__dummy.html
docs/
/shapesphere3
shapesphere3.so
shapesphere3.dylib
shapesphere3.dll
shapesphere3.a
shapesphere3.lib
shapesphere3-test-*
*.exe
*.o
*.obj
*.lst
dub.selections.json
bin
.sbylib
*.log
